<table>
    <tbody>
        <tr>
            <th>Елементи масиву</th>
            <th></th>
        </tr>
        <tr *ngFor="let num of numbers; index as i">
            <th><input type="number" [(ngModel)]="num.value"></th>
            <th>
                <button class="remove-btn" (click)="deleteNumber(i)">Видалити</button>
            </th>
        </tr>
    </tbody>
    <tfoot>
        <button class="add-btn" (click)="addNumber()">Додати</button>
    </tfoot>
</table>
<app-calc [numberArray]="numbers"></app-calc>